/* Soluzione qui */
@media screen and (min-width: 576px) {
    .ads {
        display: inline-block;
    }

    .clearfix>img {
        display: inline-block;
        float: left;
        margin: 10px;
    }

    .social-networks {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;

        .label {
            display: inline;
        
        }

        .fab {
            padding: 0px 0px;
        }

        .btn { 
            padding: 0.5rem 3rem;
        }
}
}

@media screen and (min-width: 769px) {
    #topbar {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .container {
        padding: 2rem;
    }

    .recipe-origin {
        display: inline-block;
    }

    .recipe-origin,
    .recipe-name {
        font-size: 2rem;
    }

    .quick-notes>ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0rem 3rem;
    }

    .social-networks .fab {
        padding: 0px 2rem;
    }

    .ads {
        display: inline-block;
    }

    .clearfix>img {
        display: inline-block;
        float: left;
        margin: 20px;
    }
}

@media screen and (min-width: 993px) {

    .recipe-origin,
    .recipe-name {
        font-size: 2.5rem;
    }

    .quick-notes>ul {
        display: block;
    }

    .recipe-card {
        display: flex;

        .recipe-video {
            aspect-ratio: 16 / 9;
            height: 100%;
            flex-grow: 10;
        }

        .recipe-info {
            flex-grow: 1;
        }
    }


    .social-networks {
        gap: 0px;

        .label {
            display: inline;
        
        }

        .fab {
            padding: 0px 0px;
        }

        .btn { 
            padding: 0.5rem 3rem;
        }
        /* alternative mode */

        /* display: block;
        text-align: center;

        .fab {
            padding: 0;
        }

        .btn {
            margin: 0px 0.25rem;
            padding: 0.5rem 2rem;
        }

        .label {
            display: inline-block;

        } */
         /* alternative mode */
    }

    footer {
        display: flex;
        justify-content: space-between;
        
        address {
            text-align: left;
        }
    }

}